<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Recommender 3000</title>
  </head>
  <style media="screen">
  body { 
      background: url(/static/background3.png);
      background-color: gainsboro;
      }
      h1 {font-family: "Lato", sans-serif;
          font-size: 30px;
          color: darkslategrey;}
          p {font-family: "Lato", sans-serif;;
            font-size: 20px;
            color: darkslategrey;}
            label,li {font-family: "Lato", sans-serif;;
              font-size: 12px;
              color: darkslategrey;}
              div.a {text-align: center;}

  </style>
  <body>

    {% block content %}

    {% endblock %}

  </body>
</html>
